{
    "printWidth": 140,
    "trailingComma": "all",
    "tabWidth": 4,
    "proseWrap": "never",
    "objectWrap": "preserve",
    "semi": true,
    "bracketSpacing": true,
    "arrowParens": "always",
    "endOfLine": "lf",
    "quoteProps": "as-needed"
}
